<header class="header">
  <div class="header-banner">
    <h1 class="header-title">
      <a href="{{ "/" | relative_url }}">{{ include.title | default: site.title | upcase }}</a>
    </h1>
    <a href="{{ "/me" | relative_url }}" class="header-subtitle">{{ site.subtitle }}</a>
  </div>

  <nav class="navbar">
    <ul class="nav-links">
      {% for item in site.data.navigation %}
        <li class="nav-link {% if page.url == item.link  %} current-page {% endif %}"><a href="{{ item.link | relative_url }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <a class="menu-toggle">
    <i class="fa-solid fa-minus"></i>
  </a>
</header>
